h1, h2, h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #1F4E79; /* Format HEX */
    text-align: center;
}

p {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #1F4E79; 
    font-weight: bold;
    padding: 8px 12px;
}

nav a:hover {
    color: white; 
    background-color: #1F4E79; 
    border-radius: 4px;
}

section ul {
    list-style-type: square;
    max-width: 300px;
    margin: 20px auto;
}

section ul li {
    padding: 6px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1F4E79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue; 
}

.gambar-warung {
    display: block;       
    width: 100%;           
    max-width: 250px;      
    height: auto;          
    margin: 8px auto 15px; 
    border-radius: 8px;    
}